.moviepage{
    background-color: rgb(42, 43, 45);
    color: white;
    /* border-radius: 10%; */
    border: 3px solid;
    opacity: 0.99;
    margin-top: 40px;
}

img{
    width: 14%;
    float: right;
    border-radius: 10%;
}

.right-column{
    text-align: right;
}